# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Environment variables
.env
.env.*

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Debug & coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/

# Docker artifacts
*.pid
